In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('flights.csv')
df = df.sample(n=1000000, random_state=42)

/var/folders/k_/56n9wl_j531_w664x6r2v8l00000gn/T/ipykernel_34495/2882852976.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('flights.csv')

In [21]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [22]:
df=df.drop(['DAY','FLIGHT_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','DAY_OF_WEEK','YEAR','DISTANCE','TAXI_IN','TAXI_OUT', 'WHEELS_OFF','WHEELS_ON','SCHEDULED_TIME', 'DIVERTED','TAIL_NUMBER','DESTINATION_AIRPORT','ELAPSED_TIME','ARRIVAL_DELAY','ARRIVAL_TIME'], axis=1)

In [23]:
df.head()

,MONTH,AIRLINE,ORIGIN_AIRPORT,DEPARTURE_DELAY,AIR_TIME,SCHEDULED_ARRIVAL,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1508570,4,EV,FWA,-5.0,30.0,1436,0,NaN,NaN,NaN,NaN,NaN,NaN
363270,1,AS,LAS,-12.0,131.0,2145,0,NaN,NaN,NaN,NaN,NaN,NaN
3003945,7,WN,OAK,-4.0,92.0,820,0,NaN,NaN,NaN,NaN,NaN,NaN
2291425,5,WN,STL,153.0,85.0,950,0,NaN,0.0,0.0,0.0,152.0,0.0
2973084,7,UA,IAH,8.0,461.0,1318,0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.to_csv("flights_cleaned.csv", index=False)