In [5]:
import pandas as pd

In [7]:
df=pd.read_csv('flights.csv')

/var/folders/k_/56n9wl_j531_w664x6r2v8l00000gn/T/ipykernel_22911/82286611.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('flights.csv')

In [8]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [9]:
df=df.drop(['FLIGHT_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','DAY_OF_WEEK','YEAR','DISTANCE','TAXI_IN','TAXI_OUT', 'WHEELS_OFF','WHEELS_ON','SCHEDULED_TIME', 'DIVERTED','TAIL_NUMBER','DESTINATION_AIRPORT','ELAPSED_TIME','ARRIVAL_DELAY','ARRIVAL_TIME'], axis=1)

In [10]:
df.head()

,MONTH,DAY,AIRLINE,ORIGIN_AIRPORT,DEPARTURE_DELAY,AIR_TIME,SCHEDULED_ARRIVAL,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,1,AS,ANC,-11.0,169.0,430,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,AA,LAX,-8.0,263.0,750,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,US,SFO,-2.0,266.0,806,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,AA,LAX,-5.0,258.0,805,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,AS,SEA,-1.0,199.0,320,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv("flights_new.csv", index=False)